<script>

export default
{
    name: 'PageIndex'
};
</script>

<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">

      <div class="row">
        <div class="col q-mt-md">
            <transition appear enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutRight">
                <q-btn class="q-pa-lg text-secondary" size="40px" unelevated no-caps to="student-login">
                    <div class="row items-center no-wrap">
                    <q-icon left name="school" />
                    <div class="text-center font-1">Student</div>
                    </div>
                </q-btn>
            </transition>
        </div>
      </div>

      <div class="row">
        <div class="col q-mt-md">
            <transition appear enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
                <q-btn class="q-pa-lg text-secondary" size="40px" flat unelevated no-caps to="teacher-login">
                    <div class="row items-center no-wrap">
                    <q-icon left name="menu_book" />
                    <div class="text-center font-1">Teacher</div>
                    </div>
                </q-btn>
            </transition>
        </div>
      </div>

    </div>
  </q-page>
</template>
