<script>

import app from '../../api/feathers';
import { i18n } from 'boot/i18n.js';
import { ref, computed, watch, onMounted } from '@vue/composition-api';
import { useFind, useGet } from 'feathers-vuex';
import { debounce } from 'quasar';
import userHistoryDialog from 'components/userHistory';

export default
{
    name: 'StudentTeachers',
    setup(props, context)
    {
        const { User } = context.root.$FeathersVuex.api;
        const { $store, $router } = context.root;
        const { $q } = context.parent;

        $store.commit('main/headerTitle', i18n.t('message.title_myteachers'));
        $store.commit('main/backNavigation', 'studentDashboard');

        const authUser = computed(() => $store.getters['auth/user']);
        const authUserId = computed(() => authUser.value ? authUser.value._id : null);
        const timestamp = computed(() => $store.getters['main/serverTimeStamp']);

        const filter = ref('');
        const sortMode = ref('name');
        const sortOptions = ref({
            name: 'NAME',
            rating: 'RATING'
        });

        const inProgress = ref(false);

        const teachers = ref([]);
        const teachersRemote = computed(() =>
        {
            const params = {};
            params.query = { mode: 'relations', role: 'teacher' };
            if (filter.value)   params.query.filter = filter.value;
            if (sortMode.value) params.query.$sort = sortMode.value;
            return params;
        });

        const teacherList = computed(() =>
        {
            const arr = teachers.value || [];
            const time = timestamp.value;
            const list = arr.map(teacher =>
            { // check online state
                const start = new Date(teacher.onlineStartAt).getTime();
                const end = new Date(teacher.onlineEndAt).getTime();
                teacher.online = ((time >= start) && (time < end));
                return teacher;
            });
            return list;
        });

        const findTeachers = debounce(() =>
        {
            loadTeachers();
        }, 500);

        const loadTeachers = function()
        {
            app.service('users').find(teachersRemote.value)
            .then(res =>
            {
                teachers.value = res && res.data || [];
            })
            .catch(err =>
            {
                teachers.value = [];
            });
        };

        const selectUser = function(userId)
        {
            // $router.push({name: 'userDetails', params: { id: userId }});
        };

        const showUserHistory = function(userData)
        {
            $q.dialog({ component: userHistoryDialog, parent: context.parent, user: userData });
        };

        watch(teachersRemote, findTeachers);
        loadTeachers();

        return {inProgress, authUser, teacherList, filter, sortMode, sortOptions, selectUser, showUserHistory};
    }
};
</script>

<template>
    <q-page class="column">

        <transition appear enter-active-class="animated slideInRight" leave-active-class="animated fadeOut" mode="out-in">
        <div class="col-auto full-width" style="display: none">
            <div class="row q-py-md">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>
        </transition>

        <div class="col-auto full-width">
            <div class="row theme-secondary">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                    <q-toolbar>
                        <div class="text-h6 text-weight-regular">
                            <q-input dark borderless dense v-model="filter" class="q-ml-sm" placeholder="Search">
                            <template v-slot:prepend>
                                <q-icon v-if="filter === ''" name="search" />
                                <q-icon v-else class="cursor-pointer" name="clear" @click="filter = ''" />
                            </template>
                            </q-input>
                        </div>
                        <q-space />
                        <div class="text-weight-bold">

                            <q-btn-dropdown stretch dense flat auto-close :label="`Sort By: ${sortOptions[sortMode]}`">
                                <q-list style="box-shadow: none !important;">
                                    <q-item v-for="(label, code) in sortOptions" :key="code" clickable @click="sortMode = code">
                                        <q-item-section avatar><q-icon color="grey" :name="sortMode === code ? 'check' : ''" /></q-item-section>
                                        <q-item-section>{{label}}</q-item-section>
                                    </q-item>
                                </q-list>
                            </q-btn-dropdown>

                        </div>
                    </q-toolbar>
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>

        <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
        <div class="col full-width bg-grey-2 shadow-up-12">
            <div class="row bg-grey-2">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">

                    <div class="q-px-lg q-py-lg">
                        <div class="row">
                            <div class="col-12">
                                <div v-if="teacherList.length" class="q-col-gutter-lg">

                                    <q-list separator>
                                        <q-item v-for="teacher in teacherList" :key="teacher._id" class="q-mb-sm" clickable v-ripple @click="showUserHistory(teacher)">
                                            <q-item-section avatar>
                                                <q-avatar size="4rem"><q-img transition="scale" spinner-color="grey" :src="teacher|avatarLink"></q-img></q-avatar>
                                            </q-item-section>
                                            <q-item-section no-wrap>
                                                <q-item-label class="text-black" style="font-size: 1.2rem">{{teacher|userName}}</q-item-label>
                                                <div><q-rating :value="teacher.rating" max="5" color="blue-9" icon="star_border" icon-selected="star" icon-half="star_half" style="font-size: 1.4rem" readonly /></div>
                                            </q-item-section>
                                            <q-item-section side v-if="teacher.online">
                                                <div v-if="$q.screen.gt.xs" class="absolute-center-right"><q-chip square size="md" class="q-mx-none q-my-none text-weight-bold" color="green-6" text-color="white" style="font-size: 1rem;">{{$t('message.schedule_online')}}</q-chip></div>
                                                <div v-else><span class="text-green" :title="$t('message.schedule_online')" style="font-size: 2em; text-shadow: 0px 0px 12px;">⦿</span></div>
                                            </q-item-section>
                                        </q-item>
                                    </q-list>

                                    <!--
                                    <div class="col-12 col-sm-12 col-lg-6" v-for="teacher in teacherList" :key="teacher._id">

                                        <q-card flat class="bg-white text-black block-shadow cursor-pointer" @click="selectUser(teacher._id)">
                                            <q-card-section horizontal>

                                                <q-card-section class="q-pa-none">
                                                    <q-avatar square size="128px"><img :src="teacher|avatarLink"></q-avatar>
                                                </q-card-section>

                                                <q-card-section class="full-width">
                                                    <div class="text-subtitle1">{{teacher|userName}}</div>
                                                    <div class="text-subtitle2">{{teacher.email}}</div>
                                                    <div><q-rating :value="teacher.rating" max="5" color="blue-9" icon="star_border" icon-selected="star" icon-half="star_half" readonly /></div>
                                                    <div v-if="teacher.online" class="absolute-top-right"><q-chip square size="md" class="q-mx-none q-my-none text-weight-bold" color="green-6" text-color="white">{{$t('message.schedule_online')}}</q-chip></div>
                                                </q-card-section>
                                            </q-card-section>
                                        </q-card>
                                    </div>
                                    -->


                                </div>

                                <div v-else>
                                    <div class="q-mt-xl text-center">
                                        <q-icon name="people" style="color: #ddd; font-size: 10em;" />
                                    </div>
                                    <div class="text-grey-6 text-h5 text-center">
                                        {{$t('message.teachers_empty')}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>
        </transition>
        <q-inner-loading :showing="inProgress">
            <q-circular-progress indeterminate size="50px" color="blue" class="q-ma-md" />
        </q-inner-loading>

    </q-page>
</template>
