<script>

import app from '../../api/feathers';
import { i18n } from 'boot/i18n.js';
import { getConfigValue, generateDays, generateTimes } from '../../api/utils';
import { ref, computed, watch, onMounted } from '@vue/composition-api';
import { useFind, useGet } from 'feathers-vuex';

import bookingDaySelector from 'components/bookingDaySelector';
import bookingComponent from 'components/bookingComponent';

export default
{
    name: 'StudentBooking',
    components:
    {
        bookingDaySelector,
        bookingComponent
    },
    setup(props, context)
    {
        const { Booking, User } = context.root.$FeathersVuex.api;
        const { $store, $router } = context.root;

        $store.commit('main/headerTitle', i18n.t('message.title_bookcancel'));
        $store.commit('main/backNavigation', 'studentDashboard');

        const inProgress = ref(false);
        const dayList = ref(generateDays());
        const authUser = computed(() => $store.getters['auth/user']);
        const authUserId = computed(() => authUser.value ? authUser.value._id : null);
        const userCredits = computed(() => $store.getters['main/userCredits']);
        const currentDay = computed(() => $store.getters['main/dayIndex']);
        const currentLabel = computed(() =>
        {
            const day = dayList.value.find(d => d.key === currentDay.value);
            return day ? day.date.format('dddd DD.MM.YYYY') : '-';
        });


        return {inProgress, authUser, userCredits, currentLabel};
    }
};
</script>

<template>
    <q-page class="column">

        <transition appear enter-active-class="animated slideInRight" leave-active-class="animated fadeOut" mode="out-in">
        <div class="col-auto full-width">
            <div class="row q-py-xs">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                    <booking-day-selector />
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>
        </transition>

        <div class="col-auto full-width">
            <div class="row theme-secondary">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                    <q-toolbar class="q-px-md">
                        <div class="text-h6 text-weight-regular">{{currentLabel}}</div>
                        <q-space />
                        <div class="">{{$t('message.booking_availablecredits')}}:
                            <span class="text-weight-bold" style="font-size: 150%">{{userCredits}}</span>
                        </div>
                    </q-toolbar>
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>

        <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
        <div class="col full-width bg-grey-2 shadow-up-12">
            <div class="row">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10 col-xl-8">
                    <div class="q-pb-md">
                        <booking-component ref="bookingComponent" mode="student" />
                    </div>
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>
        </transition>

        <q-inner-loading :showing="inProgress">
            <q-circular-progress indeterminate size="50px" color="blue" class="q-ma-md" />
        </q-inner-loading>

    </q-page>
</template>

