<script>

import app from '../../api/feathers';
import { i18n } from 'boot/i18n.js';
import { ref, computed, watch } from '@vue/composition-api';
import upcomingList from 'components/upcomingList';

export default
{
    name: 'TeacherBookings',
    components:
    {
        upcomingList
    },
    setup(props, context)
    {
        const { $store, $router } = context.root;

        $store.commit('main/headerTitle', i18n.t('message.title_confirmedbookings'));
        $store.commit('main/backNavigation', 'teacherDashboard');

        return {};
    }
};
</script>

<template>
    <q-page class="column">

        <transition appear enter-active-class="animated slideInRight" leave-active-class="animated fadeOut" mode="out-in">
        <div class="col-auto full-width">
            <div class="row q-py-md">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>
        </transition>

        <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
        <div class="col full-width bg-grey-3 shadow-up-12">
            <div class="row q-pt-xl">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                    <upcoming-list mode="teacher" />
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>
        </transition>

    </q-page>

</template>
