<script>

import app from '../../api/feathers';
import { i18n } from 'boot/i18n.js';
import { ref, reactive, computed, watch, onMounted } from '@vue/composition-api';
import formComponent from 'components/formComponent';
import avatarDesign from 'components/avatarDesign';

export default
{
    name: 'TeacherProfile',
    components:
    {
        formComponent,
        avatarDesign
    },
    setup(props, context)
    {
        const { User } = context.root.$FeathersVuex.api;
        const { $store, $router, $notifications } = context.root;
        const { $q } = context.parent;

        $store.commit('main/headerTitle', i18n.t('message.title_myprofile'));
        $store.commit('main/backNavigation', 'teacherDashboard');

        const authUser = computed(() => $store.getters['auth/user']);
        const authUserId = computed(() => authUser.value ? authUser.value._id : null);

        const inProgress = ref(false);
        const profileForm = ref(null);

        const countryList = $store.getters['config/getCountryList'];
        const countries = Object.keys(countryList).map(key => ({value: key, label: countryList[key]}));
        const profileFormData = {
            email:      { type: 'input', line: 1, title: i18n.t('message.profile_email'), default: '' },
            firstName:  { type: 'input', line: 2, title:  i18n.t('message.profile_first_name'), default: '' },
            lastName:   { type: 'input', line: 2, title: i18n.t('message.profile_last_name'), default: '' },
            gender:     { type: 'select', line: 3, title: i18n.t('message.profile_gender'), default: 'male', options: [{value: 'male', label: i18n.t('message.profile_gender_male')}, {value: 'female', label: i18n.t('message.profile_gender_female')}]},
            phone:      { type: 'input', line: 3, title: i18n.t('message.profile_phone'), default: '' },
            address:    { type: 'input', line: 4, title: i18n.t('message.profile_address'), default: '' },
            address2:   { type: 'input', line: 4, title: i18n.t('message.profile_address2'), default: '' },
            zip:        { type: 'input', line: 5, title: i18n.t('message.profile_zip'), default: '' },
            city:       { type: 'input', line: 5, title: i18n.t('message.profile_city'), default: '' },
            country:    { type: 'select', line: 6, title: i18n.t('message.profile_country'), default: '', options: countries},
            notify:     { type: 'select', line: 6, title: i18n.t('message.profile_notify'), default: 'enabled', options: [{value: 'enabled', label: i18n.t('message.profile_notify_enabled')}, {value: 'disabled', label: i18n.t('message.profile_notify_disabled')}]}
        };

        const formValues = computed(() => profileForm.value ? profileForm.value.getValues() : {});

        const loadProfile = function()
        {
            const user = authUser.value;
            if (user)
            {
                const data = {...user};
                if (data.notify)    data.notify = 'enabled';
                else                data.notify = 'disabled';
                context.refs.profileForm.setValues(data);
            }
        };

        const saveProfile = async function()
        {
            const avatarBuffer = context.refs.avatar.checkNewImage() ? await context.refs.avatar.getJpegBuffer() : null;
            inProgress.value = true;
            const data = profileForm.value.getValues();
            data._id = authUser.value._id;
            const { User } = context.root.$FeathersVuex.api;
            const user = new User(data);
            user.avatar = avatarBuffer;
            await user.patch();
            inProgress.value = false;
            $router.push({ name: 'teacherDashboard' });
        };

        const testNotification = async function()
        {
            const rx = await app.service('users').find({query: {mode: 'notification'}}).then(res => (res && res.success)).catch(err => false);
            if (rx) $q.notify({ timeout: 3000, position: 'top', color: 'green-6', textColor: 'white', icon: 'info', message: 'Notification sent...', caption: '' });
            else    $q.notify({ timeout: 3000, position: 'top', color: 'red-6', textColor: 'white', icon: 'info', message: 'Notification failed...', caption: '' });
        };

        onMounted(() =>
        {
            loadProfile();
            watch(authUser, loadProfile);
        });

        return { authUser, profileForm, profileFormData, formValues, saveProfile, testNotification, inProgress };
    }
};
</script>

<template>
    <q-page class="column">

        <transition appear enter-active-class="animated slideInRight" leave-active-class="animated fadeOut" mode="out-in">
        <div class="col-auto full-width">
            <div class="row q-py-xs">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>
        </transition>

        <div class="col-auto full-width">
            <div class="row theme-secondary">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                    <q-toolbar class="q-px-md">
                        <q-space />
                        <q-btn v-if="formValues.notify === 'enabled'" unelevated icon="notifications_active" :label="$t('message.profile_notify_test')" @click="testNotification" />
                        <q-btn unelevated icon="check" :label="$t('message.profile_save')" @click="saveProfile" />
                    </q-toolbar>
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>

        <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
        <div class="col full-width bg-grey-2 shadow-up-12">
            <div class="row q-py-lg">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">

                    <div class="row">
                        <div class="col-12 col-md-4  text-center column justify-center items-center">
                            <avatar-design ref="avatar" :image="authUser.avatar" width="256px" height="256px"></avatar-design>
                        </div>
                        <div class="col-12 col-md-8">
                            <form-component ref="profileForm" :form="profileFormData"></form-component>
                        </div>
                    </div>
                </div>
                <div class="col gt-sm"></div>
            </div>
        </div>
        </transition>

        <q-inner-loading :showing="inProgress">
            <q-circular-progress indeterminate size="50px" color="blue" class="q-ma-md" />
        </q-inner-loading>

    </q-page>
</template>
