<script>

// import { mapState } from 'vuex';
import TeacherDrawer from '../components/teacherDrawer';
import StudentDrawer from '../components/studentDrawer';
import app from '../api/feathers';
import { watch, ref, computed, onMounted } from '@vue/composition-api';
import { useFind, useGet } from 'feathers-vuex';

export default
{
    name: 'AppLayout',
    components: {
      TeacherDrawer,
      StudentDrawer
    },
    setup(props, context)
    {
        const { $store, $router } = context.root;
        const { $q } = context.parent;
        const { User } = context.root.$FeathersVuex.api;
        const authUser = computed(() => $store.getters['auth/user']);
        const authUserId = computed(() => authUser.value ? authUser.value._id : null);
        const authUserRole = computed(() => authUser.value ? authUser.value.role : null);
        const authUserOnline = computed(() => authUser.value ? authUser.value.online : null);
        const userCredits = computed(() => $store.getters['main/userCredits']);
        const drawerOpened = computed(() => $store.state.main.drawerOpened);
        const drawerEnabled = computed(() => $store.state.main.drawerEnabled);
        const headerTitle = computed(() => $store.state.main.headerTitle);
        const backLink = computed(() => $store.state.main.backNavigation);
        const toolbarMessage = computed(() =>
        {
            const time = $store.getters['main/currentTime'];
            let msg = time;
            if (process.env.DEV)    msg += ` (Screen: ${$q.screen.width} x ${$q.screen.height})`;
            return msg;
        });

        const backNavigation = function()
        {
            if (backLink.value === 'event:navigation-back')
            {
                app.emit('navigation-back');
            }
            else if (backLink.value)
            {
                $router.push({name: backLink.value});
            }
        };

        const updateUserState = async function()
        {
            await $store.dispatch('main/syncUserCredits');
            if (authUserOnline.value !== null)  $store.commit('main/onlineState', authUserOnline.value);
        };

        onMounted(() =>
        {
            updateUserState();
            context.root.$on('evt-class-tick', () =>
            { // every 30 mins, sync online state
                updateUserState();
            });
        });

        watch(authUserOnline, updateUserState);

        return { authUser, authUserRole, authUserOnline, userCredits, drawerOpened, drawerEnabled, headerTitle, toolbarMessage, backLink, backNavigation };
    },
    async created()
    {
        await app.authenticate().catch(err => false);
    }
};
</script>

<template>

    <q-layout view="lhr lpr lfr" class="theme-primary">

        <q-header class="transparent">
            <div class="row">
                <div class="col gt-sm"></div>
                <div class="col-12 col-md-10">
                    <q-toolbar class="q-pa-none">
                        <q-btn v-if="backLink" flat fab-mini icon="keyboard_return" color="white" @click="backNavigation" />
                        <q-toolbar-title class="text-h5 font-1 text-center" style="color: #fff;">{{headerTitle}}</q-toolbar-title>
                        <q-btn v-if="drawerEnabled" flat fab-mini @click="$store.commit('main/drawerOpened', !drawerOpened)" icon="more_vert" aria-label="Menu" />
                    </q-toolbar>
                </div>
                <div class="col gt-sm"></div>
            </div>
        </q-header>

        <TeacherDrawer v-if="authUserRole === 'teacher'" />
        <StudentDrawer v-if="authUserRole === 'student'" />

        <q-page-container>
            <router-view />
        </q-page-container>

        <q-footer v-if="$router.currentRoute.name !== 'virtualClass'" class="bg-white">
            <q-toolbar>
                <q-toolbar-title class="text-subtitle2 text-center text-black">
                    {{ toolbarMessage }}
                </q-toolbar-title>
            </q-toolbar>
        </q-footer>
    </q-layout>

</template>

<style lang="stylus">

.grecaptcha-badge
    visibility: hidden;

</style>
